.header__lang {
  display: flex;
  margin: 0;
  padding: 5px 0;
  width: 77px;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header__lang {
      padding-bottom: 4px;
  }
}

@media screen and (max-width: 767px) {
  .header__lang {
      width: 62px;
      padding-bottom: 0;
  }
}