.footer__copyright{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: end;
  color: #FFFFFF;
}


@media screen and (max-width: 425px) {
  .footer__copyright{
    font-size: 14px;
    line-height: 1;
  }
  
}