.cover__background {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  color: #ffff;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 740px;
  width: 100%;
  max-width: 1184px;
  position: relative;
}

.cover__background::before {
  content: "";
  background-color: #2A2C2F;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: .3;
  transition: .3s linear;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
      max-width: 100%;
      min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
      max-width: 100%;
      min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
      max-width: 100%;
      min-height: 200px;
  }
}